<!DOCTYPE html>
<html>
<head>
    <title>UVA People Search</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/landing.css">
</head>
<body>

    <div class="wrapper">
        <h1>UVA People Search</h1>

        <p class="extension">
            <a href="https://chrome.google.com/webstore/detail/uva-people-search/jdebncmmapengneahngfihdnoajlfmbn" target="_blank">Grab the extension</a>
            -
            <a href="" target="_blank">Top 10</a>
            -
            <a href="" target="_blank">URL Search</a>
        </p>
        <div id="main">
            <input class="search-page" type="text" placeholder="Enter computing ID or name...">
        </div>
    </div>

    <div class="push"></div>

    <div class="footer">
        <a class="octocat" href="https://github.com/BinRoot/graphUVA" target="_blank"><img src="../static/img/octocat.png" height="94" width="114"></a>
        Made with love by <a href="https://twitter.com/jasdev" target="_blank">@jasdev</a> and <a href="https://twitter.com/binroot" target="_blank">@binroot</a>
    </div>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/typeahead.js"></script>
    <script src="../static/js/hogan-2.0.0.js"></script>
    <script src="../static/js/landing.js"></script>
</body>
</html>